.body {
    width: 100%;
    padding: 1rem;

}

.backgroundPic {
    width: 100%;
    z-index: 1;

}

.loginArea {
    width: 100%;
    margin: 0 auto;
    position: relative;
    position: absolute;
    top: 500px;
    right: 400px;
    left: 800px;
    bottom: 500px;
}

html,
body {
    /* This to make it only page, it will prevent scrolling so everything that overflow will be hidden*/
    overflow: hidden;
}

.userNameBox {
    margin-bottom: 10px;
}

.loginButtons {
    position: relative;
    position: absolute;
    top: 600px;
    right: 400px;
    left: 800px;
    bottom: 700px;
}

.signInBox button {
    background-color: aquamarine;
}

.forgotPasswordBox button {
    background-color: aquamarine;
}

.loginErrorClass {
    z-index: 2;
    color: red;
    background-color: lightyellow;
    display: inline-block;
    animation: grow-shrink 1s ease-in-out forwards;
}

@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}