/* to keep the page only one page */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;  /* to disable scrolling*/
}
.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reportTable {
    size:500px;
    border-collapse: separate;
    border-spacing: 0px;
    margin: auto;
    width: 50%;
}