<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styleFiles/manager.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <title>
        <%=managerTitleName%>
    </title>
</head>

<body>
    <img id="wallpaper" src="<%=taylorPicSrc%>" alt="taylorPic" />
    <h1 class="titleName">
        <%=mangamentTitle%>
    </h1>


</body>

</html>